.zf-wrapper .mint-tab-item-label {
  font-size: 32px;
  color: #666;
}
.zf-wrapper .mint-navbar {
  height: 110px;
  position: absolute;
  overflow: hidden;
}
.zf-wrapper .mint-navbar .mint-tab-item.is-selected {
  border: none;
  margin-bottom: 0px;
  position: relative;
}
.zf-wrapper .mint-navbar .mint-tab-item.is-selected .mint-tab-item-label {
  color: #026DBB;
}
.zf-wrapper .mint-navbar .mint-tab-item.is-selected ::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -44px;
  height: 8px;
  background: #026DBB;
  width: 88px;
}
.zf-wrapper .mint-tab-container {
  position: absolute;
  top: 100px;
  left: 10;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.zf-wrapper .picker-slot {
  font-size: 34px;
  color: #696969;
}
.zf-wrapper .mint-datetime-action {
  font-size: 34px;
}
.zf-wrapper .mint-field .mint-cell-title {
  width: auto;
}
.zd-comfirm .mint-checkbox-core {
  border-radius: 0;
}
.zd-comfirm .mint-checkbox-label {
  font-size: 28px;
  color: #626262 ;
  margin-left: 30px;
}
.my-header .mintui {
  font-size: 32px;
}
.my-header .mint-header-title {
  font-size: 32px;
  font-weight: 400;
  color: #333;
}
.picker-item.picker-selected {
  color:#26A2FF;
}
.eims.zf-jc-wrapper .mint-navbar .mint-tab-item .mint-tab-item-label {
  font-size: 26px;
}
.eims.zf-jc-wrapper .tab .tab-box .tab-title p {
  font-size: 26px;
}
.monitor .mint-navbar .is-fixed {
  z-index: 10;
}
.picker{z-index: 9999;}
.zf-jc-wrapper .mint-navbar {
  width: auto;
  margin: 20px 30px;
  border: 2px solid #026DBB;
  border-radius: 10px;
  overflow: hidden;
}
.zf-jc-wrapper .mint-navbar .mint-tab-item .mint-tab-item-label {
  font-size: 32px;
  line-height: 75px;
}
.zf-jc-wrapper .mint-navbar .mint-tab-item.is-selected {
  border: none;
  background: #026dbb;
  color: #fff;
}
.zf-jc-wrapper .v-modal {
  z-index: 2;
}
.zf-jc-wrapper .mint-navbar .mint-tab-item {
  height: 75px;
  line-height: 75px;
  padding: 0;
}
.zf-jc-wrapper .mint-spinner-fading-circle {
  display: inline-block;
}
.border-1px {
  position: relative;
}
.border-1px:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ececec;
  content: ' ';
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
.sr-center .mint-navbar .mint-tab-item {
  padding: 0px;
}
.sr-center .mint-navbar .mint-tab-item.is-selected {
  border-bottom: 2px solid #26a2ff;
  color: #26a2ff;
  margin-bottom: -1px;
}
.sr-center .mint-navbar .mint-tab-item .mint-tab-item-label {
  font-size: 32px;
  line-height: 75px;
}
